<h4>Display</h4> 

<div *ngFor="let section of formData; let i=index" class="details">
    <label>
        House Index: 
    </label>{{i}}
    <button (click)="update(i)">Update</button>
    <div class="details">
        <div class="details">House Name: {{section.houseName}}</div>
        <div class="details">House Type: {{section.houseType}}</div>
        <div class="details">Address: </div>
        <div *ngFor="let address of getAddress(section); let j=index" class="details">
            <label>
                Address Index:
            </label>{{j+1}}
            <div class="details">
                <div class="details">Plot number: {{address.plot}}</div>
                <div class="details">Area: {{address.area}}</div>
                <div class="details">Pin-code: {{address.pincode}}</div>
                <div class="details">Persons: </div>
                <div *ngFor="let person of getPerson(address); let k=index" class="details">
                    <label>
                        Person Index:
                    </label>{{k+1}}
                    <div class="details">
                        <div class="details">Name: {{person.name}}</div>
                        <div class="details">Age: {{person.age}}</div>
                        <div class="details">Gender: {{person.gender}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
