<form [formGroup]="houseForm">
    <div formArrayName="sections">
        <div class="row" *ngFor="let section of getSections(houseForm);let i=index">
            <div class="form-details" [formGroupName]="i">
                <div class="form-group">
                    <label for="name_{{i}}">House Name: </label>
                    <input type="text" formControlName="houseName">
                    <!-- {{section.houseName}} -->
                    <span *ngIf="section.controls.houseName.errors && section.controls.houseName.invalid && section.controls.houseName.touched || section.controls.houseName.dirty" class="error-message">
                        <span *ngIf="section.controls.houseName.errors">
                           House name is required 
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <label>House Type:</label>
                    <input type="radio" formControlName="houseType" value="small">Small
                    <input type="radio" formControlName="houseType" value="medium">Medium
                    <input type="radio" formControlName="houseType" value="large">Large
                </div>
                <br>
                <button class="address-btn" (click)="addAddress(i)">Add Address</button>
                <div formArrayName="address">
                    <div *ngFor="let newAddress of getAddress(section); let j=index" class="form-details w60">
                        <div class="form-group" [formGroupName]="j">
                            <label>
                                Plot Number:
                            </label>
                            <input type="text" formControlName="plot">
                            <span *ngIf="newAddress.controls.plot.dirty || newAddress.controls.plot.touched && newAddress.controls.plot.invalid" class="error-message">
                                <span *ngIf="newAddress.controls.plot.errors">
                                    Plot number is required
                                </span>
                            </span>
                            <br>
                            <label>
                                Area:
                            </label>
                            <input type="text" formControlName="area">
                            <span *ngIf="newAddress.controls.area.dirty || newAddress.controls.area.touched && newAddress.controls.area.invalid" class="error-message">
                                <span *ngIf="newAddress.controls.area.errors">
                                    Plot number is required
                                </span>
                            </span>
                            <br>
                            <label>
                                Pin-code:
                            </label>
                            <input type="number" formControlName="pincode">
                            <span *ngIf="newAddress.controls.pincode.invalid && newAddress.controls.pincode.errors && newAddress.controls.pincode.dirty || newAddress.controls.pincode.touched" class="error-message">
                                <span *ngIf="newAddress.controls.pincode.hasError('required')">
                                    Pin-code is required
                                </span>
                                <span *ngIf="newAddress.controls.pincode.hasError('min') || newAddress.controls.pincode.hasError('max')">
                                    Pin-code must be of 6 digit and valid
                                </span>
                            </span>
                            <br>
                            <button class="person-btn" (click)="addPerson(i,j)">Add Person</button>
                            <div formArrayName="person">
                                <div class="row" *ngFor="let per of getPerson(newAddress); let k=index">
                                    <div class="form-details" [formGroupName]="k">
                                        <div class="form-group">
                                            <label>
                                                Name: 
                                            </label>
                                            <input type="text" formControlName="name">
                                            <span *ngIf="per.controls.name.dirty || per.controls.name.touched && per.controls.name.invalid" class="error-message">
                                                <span *ngIf="per.controls.name.errors">
                                                   Name is required
                                                </span>
                                            </span>
                                            <br>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                Age: 
                                            </label>
                                            <input type="number" formControlName="age">
                                            <span *ngIf="per.controls.age.invalid && per.controls.age.dirty || per.controls.age.touched" class="error-message">
                                                <span *ngIf="per.controls.age.hasError('required')">
                                                    Age is required
                                                </span>
                                                <span *ngIf="per.controls.age.hasError('max')">
                                                    Enter valid age
                                                </span>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label>Gender</label>
                                            <input type="radio" formControlName="gender" value="male">Male
                                            <input type="radio" formControlName="gender" value="Female">Female
                                        </div>
                                        <button class="delete-btn" (click)="onDeletePerson(i,j,k)">Delete Person</button>
                                    </div>
                                </div>
                            </div>
                            <button class="delete-btn" (click)="onDeleteAddress(i,j)">Delete Address</button>
                        </div>
                        </div>
                </div>
                <input type="button" class="submit-btn" [disabled]="houseForm.invalid" value="Submit" (click)="onSubmit(i)">
                <button type="button" class="delete-btn" value="Delete" (click)="onDelete(i)">Delete</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="button" (click)="addSection()">Add House Form</button>
    </div>
</form>


