.form-details{
    border: 1px solid;
    border-radius: 4px;
    margin: 4px;
    padding: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.delete-btn{
    background-color: #e60e0e;
}

.submit-btn,
.address-btn,
.person-btn{
    background-color: #064af9;
}

.error-message{
    color: red;
}