<div class="header">
    <div class="heading">
        <h4>Housing Form</h4>
    </div>
    <div class="fr">
        <button routerLink="home">Home</button>
        <button routerLink="display">Display</button>
    </div>
</div>
<div class="p60">
    <router-outlet></router-outlet>
</div>