/* You can add global styles to this file, and also import other style files */
*{
    outline: none;
    font-family: Arial;
}

button {
    color: white;
    background: #07b107;
    border: 1px solid;
    padding: 10px;
    border-radius: 6px;
    margin: 4px;
}

button:hover{
    opacity: 0.8;
}

.w60{
    width: 60%;
}

.w35{
    width: 35%;
}

.p60{
    padding: 60px;
}
.fr{
    float: right;
}